
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="started">
        <div class="container">
            <div class="row">
                <div class="content align-titem-center  flex-cloumn justify-content-center">
                    <h1>Build Better Websites With Bikin</h1>
                    <h3>We are team of talented designers making websites with Bootstrap</h3>
                    <a href="" class="btn btn-primary px-4"> Get Started</a>
                    <div class="photo align-titem-center px-7">
                        <img src="~/assets/images/hero-img.png" alt="">
                    </div>
                </div>

            </div>
        </div>

    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2>Voluptatem dignissimos provident quasi</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit</p>
                    <a href="" class="about-btn btn-primary">About Us</a>
                </div>
                <div class="col-md-7">
                    <div class="row d-flex">
                        <div class="col-md-6 ">
                            <i class="fa-solid fa-file-invoice"></i>
                            <h3>Corporis voluptates sit</h3>
                            <p>Corporis voluptates sit</p>
                        </div>
                        <div class="col-md-6">
                            <i class="fa-solid fa-cube"></i>
                            <h3>Corporis voluptates sit</h3>
                            <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>

                        </div>
                        <div class="col-md-6">
                            <i class="fa-solid fa-images"></i>
                            <h3>Labore consequatur</h3>
                            <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>

                        </div>
                        <div class="col-md-6">
                            <i class="fa-solid fa-shield"></i>
                            <h3>Beatae veritatis</h3>
                            <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>

                        </div>

                    </div>

                </div>
            </div>
            <!-- <div class="row d-flex">
                <div class="images">
                    <div class="col-md-2">
                        <img src="~/assets/images/client-1.png" alt="">
                    </div>
                    <div class="col-md-2">
                        <img src="~/assets/images/client-2.png" alt="">
                    </div>
                    <div class="col-md-2">
                        <img src="~/assets/images/client-3.png" alt="">
                    </div>
                    <div class="col-md-2">
                        <img src="~/assets/images/client-4.png" alt="">
                    </div>
                    <div class="col-md-2">
                        <img src="~/assets/images/client-5.png" alt="">
                    </div>
                    <div class="col-md-2">
                        <img src="~/assets/images/client-6.png" alt="">
                    </div>

                </div>



            </div> -->
        </div>

    </section>
    <section id="services">
        <div class="container">
            <div class="row position-relative">
                <div class="service-content text-ceter p-5">
                    <h3>Services</h3>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>

                </div>

            </div>
            <div class="row d-flex">
                <div class="col-md-6 text-center my-5">
                    <div class=" service-box shadow mb-5">
                        <div class="service-box-icon p-3">
                            <i class="fa-brands fa-dribbble"></i>

                        </div>
                        <div class="service-box-content">
                            <a href="">Lorem Ipsum</a>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>

                    </div>

                </div>
                <div class="col-md-6 text-center my-5">
                    <div class=" service-box shadow mb-5">
                        <div class="service-box-icon p-3">
                            <i class="fa-brands fa-dribbble"></i>

                        </div>
                        <div class="service-box-content">
                            <a href="">Lorem Ipsum</a>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>

                    </div>

                </div>
                <div class="col-md-6 text-center my-5">
                    <div class=" service-box shadow mb-5">
                        <div class="service-box-icon p-3">
                            <i class="fa-brands fa-dribbble"></i>

                        </div>
                        <div class="service-box-content">
                            <a href="">Lorem Ipsum</a>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>

                    </div>

                </div>
                <div class="col-md-6 text-center my-5">
                    <div class=" service-box shadow mb-5">
                        <div class="service-box-icon p-3">
                            <i class="fa-brands fa-dribbble"></i>

                        </div>
                        <div class="service-box-content">
                            <a href="">Lorem Ipsum</a>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>

                    </div>

                </div>
            </div>
    </section>
    <section id="team">
        <div class="container">
            <div class="team-content text-align-center p-5">
                <h2>TEAM</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="member">
                        <img src="~/assets/images/team-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member">
                        <img src="~/assets/images/team-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member">
                        <img src="~/assets/images/team-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member">
                        <img src="~/assets/images/team-4.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>


    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-context text-center p-5">
                    <h2 class="fw-bold mb-4 position-relative">CONTACT</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
            </div>

        </div>
        <!-- <div class="container-fluid">

        </div> -->
        <div class="container my-4">
            <div class="row">
                <div class="col-md-6 d-flex flex-wrap ">
                    <div class="col-md-12 shadow p-3 mb-5 bg-body rounded text-center py-2">
                        <i class="fa-solid fa-location-dot fs-4 mb-2"></i>
                        <p class="fw-bold">Our Address</p>
                        <span>A108 Adam Street, New York, NY 535022</span>
                    </div>
                    <div class="col-md-6 shadow p-3 mb-5 bg-body rounded text-center py-2">
                        <i class="fa-solid fa-envelope fs-4 mb-2"></i>
                        <p class="fw-bold">Email Us</p>
                        <span>
                            info@example.com <br>
                            contact@example.com
                        </span>
                    </div>
                    <div class="col-md-6 shadow p-3 mb-5 bg-body rounded text-center py-2">
                        <i class="fa-solid fa-phone fs-4 mb-2"></i>
                        <p class="fw-bold">Call Us</p>
                        <span>
                            +1 5589 55488 55 <br>
                            +1 6678 254445 41
                        </span>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-wrap shadow p-3 mb-5 bg-body rounded text-center">
                    <form class="mx-auto">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form6Example1" class="form-control" placeholder="Your Name" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form6Example2" class="form-control" placeholder="Your Email" />
                                </div>
                            </div>
                        </div>
                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example3" class="form-control" placeholder="Subject" />
                        </div>
                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <textarea name="" id="" cols="20" class="form-control" rows="5" placeholder="Message"></textarea>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn-form btn-primary rounded mb-4">Send Message</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
</main>

